<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  <link rel="stylesheet" href="css/styles.css">
  <title>Course name - Minor Web Development - CMD Amsterdam</title>

</head>

<body>
  <header>
  </header>
  <main>
    <h1>Design your own Nerdy T-shirt</h1>
    <h2>Choose your favorite options</h2>

    <form method="post">
      <fieldset>
        <legend> Choose a color </legend>

        <label for="yellow">Yellow
        <input type="radio" id="yellow" name="shirtColor" value="yellow" checked/>
       </label>

        <label for="powderblue">Powder blue
        <input type="radio" id="powderblue" name="shirtColor" value="powderblue" />
       </label>

        <label for="pink">Pink
        <input type="radio" id="pink" name="shirtColor" value="pink" />
       </label>

        <label for="darkseagreen">Dark sea green
        <input type="radio" id="darkseagreen" name="shirtColor" value="darkseagreen" />
       </label>

      </fieldset>

      <fieldset>
        <legend> Type your text (1 to 25 characters)</legend>
        <input type="text" id="text" name="text" required minlength="1" maxlength="15" size="25">
      </fieldset>

      <fieldset>
        <legend> Choose an image </legend>
        <input type="radio" id="glasses" name="shirtImage" value="Glasses" checked />
        <label for="glasses"><img src="img/glasses.png" alt="icon from glasses"></label>
        <input type="radio" id="science" name="shirtImage" value="Science" />
        <label for="science"><img src="img/science.png" alt="icon from science"></label>
        <input type="radio" id="code" name="shirtImage" value="Code" />
        <label for="code"><img src="img/code.png" alt="icon from code"></label>
        <input type="radio" id="github" name="shirtImage" value="Github" />
        <label for="github"><img src="img/github.png" alt="icon from github"></label>
      </fieldset>

      <input type="submit" value="Finish">


    </form>

  </main>
</body>

</html>