                                                    @font-face {
                                                    font-family: Montserrat-Medium;
                                                    src: url('/Montserrat-Medium.ttf') format("ttf");
                                                    font-display: swap;
                                                  }
                                                  
                                                  @font-face {
                                                    font-family: Montserrat-Bold;
                                                    src: url('/Montserrat-Bold.ttf') format("ttf");
                                                    font-display: swap;
                                                  }
                                                  
                                                  @font-face {
                                                    font-family: Montserrat-Light;
                                                    src: url('/Montserrat-Light.ttf') format("ttf");
                                                    font-display: swap;
                                                  }
                                                  
                                                  body {
                                                    background-color: #eae6da;
                                                    padding: 0;
                                                    margin: 0;
                                                    background-position: left;
                                                    background-size: contain;
                                                    background-image: url(/img/back.jpg);
                                                  }
                                                  
                                                  h1 {
                                                    font-family: Montserrat-Bold, "Arial", sans-serif;
                                                    font-size: 2.5em;
                                                    font-weight: 900;
                                                    line-height: 2em;
                                                    display: inline;
                                                    padding: .2em;
                                                    color: #032d34;
                                                    background-color: #DD9783;
                                                    /* border-radius: 10px; */
                                                    text-transform: uppercase;
                                                    /* animation: typing 3.5s steps(40, end); */
                                                    /* display: inline-block; */
                                                    overflow: hidden;
                                                    /* white-space: nowrap; */
                                                  }
                                                  /* @keyframes typing {
                          from {
                            width: 0
                          }
                          to {
                            width: 50%
                          }
                        } */
                                                  
                                                  h2 {
                                                    font-family: Montserrat-Bold, "Arial", sans-serif;
                                                    font-size: 1.3em;
                                                    font-weight: 900;
                                                    color: #032d36;
                                                    ;
                                                    margin: 0 0 1.5em 0;
                                                  }
                                                  
                                                  p {
                                                    font-family: Montserrat-Light, "Arial", sans-serif;
                                                    font-size: 1em;
                                                    font-weight: 100;
                                                  }
                                                  
                                                  a {
                                                    font-family: Montserrat-Light, "Arial", sans-serif;
                                                    font-size: 1em;
                                                    font-weight: 100;
                                                  }
                                                  
                                                  legend {
                                                    font-family: Montserrat-Medium, "Arial", sans-serif;
                                                    font-size: 1.2em;
                                                    color: #032d36;
                                                    margin: 0 0 1em 0;
                                                    font-weight: 500;
                                                  }
                                                  
                                                  header {
                                                    background-color: #ffffff;
                                                    padding: .5em;
                                                  }
                                                  
                                                  header a {
                                                    color: #032d35;
                                                    text-decoration: none;
                                                  }
                                                  
                                                  header a:hover,
                                                  header a:active {
                                                    text-decoration: underline;
                                                  }
                                                  
                                                  main {
                                                    margin: 1em auto;
                                                    /* max-width: 35em; */
                                                    padding: 0 .5em;
                                                  }
                                                  
                                                  form {
                                                    background-color: #ffffff;
                                                    border-radius: 10px;
                                                    padding: 1em;
                                                    margin: 1em auto;
                                                  }
                                                  
                                                  fieldset {
                                                    border: none;
                                                    margin: 0 0 2em 0;
                                                    padding: 0;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) label {
                                                    font-family: Montserrat-Light, "Arial", sans-serif;
                                                    font-size: .9em;
                                                    font-weight: 100;
                                                    color: #032d36;
                                                    padding: .9em .5em;
                                                    margin-right: .5em;
                                                    border-radius: 10px;
                                                    min-width: 15em;
                                                    position: relative;
                                                    line-height: 4em;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) input[type="radio"] {
                                                    opacity: 0;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    line-height: 4em;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) label:nth-of-type(1) {
                                                    background-color: #ffe656;
                                                    ;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) label:nth-of-type(2) {
                                                    background-color: #A0C9CE;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) label:nth-of-type(3) {
                                                    background-color: #dda3ff;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) label:nth-of-type(4) {
                                                    background-color: #90BB91;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) input[type="radio"]:nth-of-type(1):checked~span {
                                                    font-family: Montserrat-Bold, "Arial", sans-serif;
                                                    font-weight: 900;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) input[type="radio"]:nth-of-type(1):hover~span {
                                                    /* font-family: Montserrat-light, "Arial", sans-serif;
  font-weight: 100; */
                                                    text-decoration: underline;
                                                    top: .5em;
                                                    transition: .3s linear;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) input[type="radio"]:nth-of-type(2):checked~span {
                                                    font-family: Montserrat-Bold, "Arial", sans-serif;
                                                    font-weight: 900;
                                                    border: 1px solid #ecb88f;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) input[type="radio"]:nth-of-type(3):checked~span {
                                                    font-family: Montserrat-Bold, "Arial", sans-serif;
                                                    font-weight: 900;
                                                    border: 1px solid #ecb88f;
                                                  }
                                                  
                                                  fieldset:nth-of-type(1) input[type="radio"]:nth-of-type(4):checked~span {
                                                    font-family: Montserrat-Bold, "Arial", sans-serif;
                                                    font-weight: 900;
                                                    border: 1px solid #ecb88f;
                                                  }
                                                  
                                                  fieldset:nth-of-type(2) input[type="text"] {
                                                    font-family: Montserrat-Light, "Arial", sans-serif;
                                                    font-size: 1em;
                                                    font-weight: 100;
                                                    color: #032d36;
                                                    border-radius: 10px;
                                                    border: 0px;
                                                    padding: .7em .5em;
                                                    border: 1px solid #f7dacd;
                                                    margin-top: -.5em;
                                                  }
                                                  
                                                  fieldset:nth-of-type(2) input[type="text"]:focus,
                                                  fieldset:nth-of-type(2) input[type="text"]:active {
                                                    background-color: #eae6da;
                                                    border: 1px solid #ce9782;
                                                  }
                                                  
                                                  fieldset:nth-of-type(2) input[type="text"]:valid {
                                                    font-family: Montserrat-Bold, "Arial", sans-serif;
                                                    font-size: 1em;
                                                  }
                                                  
                                                  fieldset:nth-of-type(2) input[type="text"]::placeholder {
                                                    color: #b7b7b7;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) label {
                                                    position: relative;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) input[type="radio"] {
                                                    z-index: 100;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) label img {
                                                    width: 4em;
                                                    padding: .5em;
                                                    background-color: #f4f4f4;
                                                    border-radius: 10px;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) input[type="radio"]:hover~img {
                                                    opacity: 50%;
                                                    margin-bottom: .5em;
                                                    transition: .3s linear;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) input[type="radio"]:nth-of-type(1):checked~img {
                                                    background-color: #DD9783;
                                                    border: 1px solid #9a6600;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) input[type="radio"]:nth-of-type(2):checked~img {
                                                    background-color: #DD9783;
                                                    border: 1px solid #9a6600;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) input[type="radio"]:nth-of-type(3):checked~img {
                                                    background-color: #DD9783;
                                                    border: 1px solid #9a6600;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) input[type="radio"]:nth-of-type(4):checked~img {
                                                    background-color: #DD9783;
                                                    border: 1px solid #9a6600;
                                                  }
                                                  
                                                  fieldset:nth-of-type(3) input[type="radio"] {
                                                    opacity: 0;
                                                    position: absolute;
                                                    width: 8em;
                                                    height: 10em;
                                                  }
                                                  
                                                  form input[type="submit"] {
                                                    font-family: Montserrat-Light, "Arial", sans-serif;
                                                    font-size: 1em;
                                                    background-color: #9a6600;
                                                    color: #ffffff;
                                                    padding: .5em 1em;
                                                    border-radius: 15px;
                                                    transition: .3s linear;
                                                    border: none;
                                                  }
                                                  
                                                  section#result {
                                                    background-color: #ce9782;
                                                    margin: 3em 0;
                                                    border-radius: 10px;
                                                  }
                                                  
                                                  section#result svg {
                                                    padding: 3em 0 0 0;
                                                  }
                                                  
                                                  #resultText {
                                                    background-color: #032d35;
                                                    color: #ffffff;
                                                    padding: .5em;
                                                    border-radius: 0 0 10px 10px;
                                                    text-align: center;
                                                  }
                                                  
                                                  #resultText p {
                                                    line-height: .2em;
                                                  }
                                                  
                                                  #resultText button {
                                                    font-family: Montserrat-Light, "Arial", sans-serif;
                                                    font-size: 1em;
                                                    background-color: #9b6700;
                                                    color: #ffffff;
                                                    padding: .5em 1em;
                                                    border-radius: 15px;
                                                    transition: .3s linear;
                                                    border: none;
                                                    margin: .5em 0;
                                                  }
                                                  
                                                  @media screen and (min-width: 30em) {
                                                    h1 {
                                                      font-size: 3em;
                                                      display: block;
                                                    }
                                                    main {
                                                      margin: 1em auto;
                                                      max-width: 70em;
                                                      padding: 0 .5em;
                                                    }
                                                    section#input {
                                                      display: inline-block;
                                                      width: 49%;
                                                      vertical-align: top;
                                                    }
                                                    section#result {
                                                      display: inline-block;
                                                      width: 49%;
                                                      vertical-align: top;
                                                      margin: 1em 0em 0 0;
                                                    }
                                                    @media screen and (min-width: 60em) {}